@using Atelie.Core.Resources;

@model Atelie.Domain.Entities.Aluno

<script src="~/Scripts/Atelie/Controllers/Aluno/aluno-index.js"></script>
<script>
    Atelie.Controller.Aluno.UrlListar = '@Url.Action("Listar", "Aluno")';
    Atelie.Controller.Aluno.UrlEditar = '@Url.Action("Editar", "Aluno")';
    Atelie.Controller.Aluno.UrlSalvarAluno = '@Url.Action("SalvarAluno", "Aluno")';
    Atelie.Controller.Aluno.UrlExcluirAluno = '@Url.Action("ExcluirAluno", "Aluno")';
    Atelie.Controller.Aluno.UrlSwitchAlunos = '@Url.Action("SwitchAlunos", "Aluno")';
    Atelie.Controller.Aluno.UrlPagamentos = '@Url.Action("Index", "Pagamento")';
</script>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>@GlobalMessages.Aluno</h2>
    <div>
        <button id="btnNovo" class="btn btn-atelie-primario" onclick="Atelie.Controller.Aluno.AbrirModalNovo()">
            <i class="fas fa-plus mr-2"></i> @GlobalMessages.IncluirAluno
        </button>
    </div>
</div>

<div class="card-atelie mb-4">
    <form id="filtroFormulario">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="formNomeFiltro">@GlobalMessages.Nome</label>
                <input type="text" id="formNomeFiltro" name="NomeFiltro" class="form-control" placeholder="Nome do aluno" />
            </div>

            <div class="form-group col-md-2">
                <label for="formDiaPagamentoPreferencialFiltro">@GlobalMessages.DiaDePagamento</label>
                <input type="number" id="formDiaPagamentoPreferencialFiltro" name="DiaPagamentoPreferencialFiltro" class="form-control" placeholder="Dia de preferência" min="0" max="31" step="1.0" />
            </div>

            <div class="form-group col-md-2">
                <label for="formAtivoFiltro">@GlobalMessages.Status</label>
                <select id="formAtivoFiltro" name="formAtivoFiltro" class="form-control">
                    <option value="">@GlobalMessages.Todos</option>
                    <option value="true">@GlobalMessages.Ativos</option>
                    <option value="false">@GlobalMessages.Inativos</option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="formMesFiltro">@GlobalMessages.MesDePresencaFiltro</label>
                <select id="formMesFiltro" name="formMesFiltro" class="form-control">
                    <option value="0">@GlobalMessages.Selecione</option>
                    <option value="1">@GlobalMessages.Janeiro</option>
                    <option value="2">@GlobalMessages.Fevereiro</option>
                    <option value="3">@GlobalMessages.Marco</option>
                    <option value="4">@GlobalMessages.Abril</option>
                    <option value="5">@GlobalMessages.Maio</option>
                    <option value="6">@GlobalMessages.Junho</option>
                    <option value="7">@GlobalMessages.Julho</option>
                    <option value="8">@GlobalMessages.Agosto</option>
                    <option value="9">@GlobalMessages.Setembro</option>
                    <option value="10">@GlobalMessages.Outubro</option>
                    <option value="11">@GlobalMessages.Novembro</option>
                    <option value="12">@GlobalMessages.Dezembro</option>
                </select>
            </div>

            <div class="col-md-3 d-flex align-items-end pb-1">
                <div class="form-group d-flex justify-content-end w-100">
                    <button type="submit" class="btn btn-atelie-primario mr-2" onclick="Atelie.Controller.Aluno.Filtrar()">
                        <i class="fas fa-filter mr-2"></i> @GlobalMessages.Filtrar
                    </button>
                    <button type="reset" class="btn btn-atelie-secundario ms-1">
                        <i class="fas fa-times mr-2"></i> @GlobalMessages.Limpar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card-atelie">
    <table class="table table-hover table-bordered">
        <thead>
            <tr id="table-header-aluno">
                <th>@GlobalMessages.Aluno</th>
                <th>@GlobalMessages.TipoContato</th>
                <th>@GlobalMessages.DescricaoContato</th>
                <th>@GlobalMessages.DiaDePagamento</th>
                <th>@GlobalMessages.AtivoPergunta</th>
                <th>@GlobalMessages.PresencaMensal</th>
                <th style="width: 200px">@GlobalMessages.Acoes</th>
            </tr>
        </thead>
        <tbody id="tabelaDados">
            <tr>
                <td colspan="4" class="text-center">@GlobalMessages.LoadingCarregarDados</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalFormulario" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formPrincipal">
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Id, new { id = "formId" })

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Nome, GlobalMessages.Nome)
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", id = "formNome", placeholder = "Nome do aluno" })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-7">
                            @Html.LabelFor(model => model.TipoContato, GlobalMessages.TipoContato)
                            @Html.DropDownListFor(model => model.TipoContato, ViewBag.TiposDeContato as SelectList, new { @class = "form-control", id = "formTipoContato" })
                            @Html.ValidationMessageFor(model => model.TipoContato, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => model.DiaPagamentoPreferencial, GlobalMessages.DiaDePagamento)
                            @Html.TextBoxFor(model => model.DiaPagamentoPreferencial, new { @class = "form-control", type = "number", step = "1", min = "1", max = "31", id = "formDiaPagamentoPreferencial", placeholder = "Dia de preferência" })
                            @Html.ValidationMessageFor(model => model.DiaPagamentoPreferencial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-7">
                            @Html.LabelFor(model => model.DescricaoContato, GlobalMessages.DescricaoContato)
                            @Html.TextBoxFor(model => model.DescricaoContato, new { @class = "form-control", id = "formDescricaoContato" })
                            @Html.ValidationMessageFor(model => model.DescricaoContato, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-check col-md-4 offset-1 mt-4">
                            @Html.CheckBoxFor(model => model.Ativo, new { @class = "form-check-input", id = "formAtivo" })
                            @Html.LabelFor(model => model.Ativo, GlobalMessages.AtivoPergunta, new { @class = "ms-2 form-check-label" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-atelie-primario" id="btnSalvar"><i class="fas fa-save mr-2"></i> @GlobalMessages.Salvar</button>
                    <button type="button" class="btn btn-atelie-secundario" data-bs-dismiss="modal"><i class="fas fa-ban mr-2"></i> @GlobalMessages.Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
