@using Atelie.Core.Resources;

@model Atelie.Domain.Entities.Pagamento

<script src="~/Scripts/Atelie/Controllers/Pagamento/pagamento-index.js"></script>
<script>
    Atelie.Controller.Pagamento.UrlListar = '@Url.Action("Listar", "Pagamento")';
    Atelie.Controller.Pagamento.UrlEditar = '@Url.Action("Editar", "Pagamento")';
    Atelie.Controller.Pagamento.UrlSalvarPagamento = '@Url.Action("SalvarPagamento", "Pagamento")';
    Atelie.Controller.Pagamento.UrlExcluirPagamento = '@Url.Action("ExcluirPagamento", "Pagamento")';
    Atelie.Controller.Pagamento.UrlObterTurmas = '@Url.Action("ObterTurmasPorAlunoId", "Pagamento")';

    Atelie.Controller.Pagamento.AlunoIdFiltroInicial = @(ViewBag.AlunoIdFiltroInicial ?? "null");
    Atelie.Controller.Pagamento.ListaDeAlunos = @Html.Raw(Json.Encode(ViewBag.AlunosOptions));
</script>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>@GlobalMessages.Pagamento</h2>
    <div>
        <button id="btnNovo" class="btn btn-atelie-primario" onclick="Atelie.Controller.Pagamento.AbrirModalNovo()">
            <i class="fas fa-plus mr-2"></i> @GlobalMessages.IncluirPagamento
        </button>
    </div>
</div>

<div class="card-atelie mb-4">
    <form id="filtroFormulario">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="formAlunoNomeFiltro">@GlobalMessages.Aluno</label>
                    <input type="text" id="formAlunoNomeFiltro" name="AlunoNomeFiltro" class="form-control" placeholder="Nome do aluno" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="formPendenteFiltro">@GlobalMessages.PendentePergunta</label>
                    <select id="formPendenteFiltro" name="formPendenteFiltro" class="form-control">
                        <option value="">@GlobalMessages.Todos</option>
                        <option value="true">@GlobalMessages.Pendentes</option>
                        <option value="false">@GlobalMessages.Pagos</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="formTipoPagamentoFiltro">@GlobalMessages.TipoPagamento</label>
                    <select id="formTipoPagamentoFiltro" name="TipoPagamentoFiltro" class="form-control">
                        <option value="">@GlobalMessages.Todos</option>
                        <option value="0">@GlobalMessages.Aguardando</option>
                        <option value="1">@GlobalMessages.Credito</option>
                        <option value="2">@GlobalMessages.Debito</option>
                        <option value="3">@GlobalMessages.Pix</option>
                        <option value="4">@GlobalMessages.Dinheiro</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formMesFiltro">@GlobalMessages.MesDeReferencia</label>
                    <select id="formMesFiltro" name="formMesFiltro" class="form-control">
                        <option value="0">@GlobalMessages.Todos</option>
                        <option value="1">@GlobalMessages.Janeiro</option>
                        <option value="2">@GlobalMessages.Fevereiro</option>
                        <option value="3">@GlobalMessages.Marco</option>
                        <option value="4">@GlobalMessages.Abril</option>
                        <option value="5">@GlobalMessages.Maio</option>
                        <option value="6">@GlobalMessages.Junho</option>
                        <option value="7">@GlobalMessages.Julho</option>
                        <option value="8">@GlobalMessages.Agosto</option>
                        <option value="9">@GlobalMessages.Setembro</option>
                        <option value="10">@GlobalMessages.Outubro</option>
                        <option value="11">@GlobalMessages.Novembro</option>
                        <option value="12">@GlobalMessages.Dezembro</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="formAnoFiltro">@GlobalMessages.Ano</label>
                    <input type="number" id="formAnoFiltro" name="AnoFiltro" class="form-control" value="@DateTime.Now.Year" min="2000" max="2100" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group text-end">
                    <button type="submit" class="btn btn-atelie-primario" onclick="Atelie.Controller.Pagamento.Filtrar()">
                        <i class="fas fa-filter mr-2"></i> @GlobalMessages.Filtrar
                    </button>
                    <button type="reset" class="btn btn-atelie-secundario ms-1">
                        <i class="fas fa-times mr-2"></i> @GlobalMessages.Limpar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="card-atelie">
    <table class="table table-hover table-bordered">
        <thead>
            <tr id="table-header-pagamento">
                <th>@GlobalMessages.Aluno</th>
                <th>@GlobalMessages.Referencia</th>
                <th>@GlobalMessages.Efetivacao</th>
                <th>@GlobalMessages.Valor</th>
                <th>@GlobalMessages.Pagamento</th>
                <th>@GlobalMessages.PendentePergunta</th>
                <th>@GlobalMessages.Turma</th>
                <th>@GlobalMessages.Acoes</th>
            </tr>
        </thead>
        <tbody id="tabelaDados">
            <tr>
                <td colspan="4" class="text-center">@GlobalMessages.LoadingCarregarDados</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalFormulario" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="formPrincipal">
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Id, new { id = "formId" })

                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.TipoPagamento, GlobalMessages.TipoPagamento)
                            @Html.DropDownListFor(model => model.TipoPagamento, ViewBag.TipoPagamento as SelectList, new { @class = "form-control", id = "formTipoPagamento" })
                            @Html.ValidationMessageFor(model => model.TipoPagamento, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.ValorPago, GlobalMessages.Valor)
                            @Html.TextBoxFor(model => model.ValorPago, new { @class = "form-control", type = "number", id = "formValorPago", step = "1", placeholder = "R$ 00,00" })
                            @Html.ValidationMessageFor(model => model.ValorPago, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.DataReferencia, GlobalMessages.DataReferencia)
                            @Html.TextBoxFor(model => model.DataReferencia, new { @class = "form-control", type = "date", id = "formDataReferencia" })
                            @Html.ValidationMessageFor(model => model.DataReferencia, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.DataEfetivacao, GlobalMessages.DataEfetivacao)
                            @Html.TextBoxFor(model => model.DataEfetivacao, new { @class = "form-control", type = "date", id = "formDataEfetivacao" })
                            @Html.ValidationMessageFor(model => model.DataEfetivacao, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Aluno.Id, "Aluno")
                            @Html.DropDownListFor(model => model.Aluno.Id, ViewBag.AlunosOptions as SelectList, "Selecione um aluno...", new { @class = "form-control", id = "formAlunoId" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Turma.Id, "Turma")
                            <select id="formTurmaId" class="form-control"></select>
                            <span id="turmaInfo" class="form-text text-muted" style="display: none;"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-check col-md-4 ms-4 mt-4">
                            @Html.CheckBoxFor(model => model.Pendente, new { @class = "form-check-input", id = "formPendente" })
                            @Html.LabelFor(model => model.Pendente, GlobalMessages.PendentePergunta, new { @class = "ms-2 form-check-label" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-atelie-primario" id="btnSalvar">
                        <i class="fas fa-save mr-2"></i> @GlobalMessages.Salvar
                    </button>
                    <button type="button" class="btn btn-atelie-secundario" data-bs-dismiss="modal">
                        <i class="fas fa-ban mr-2"></i> @GlobalMessages.Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
